body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: url('images/bmi3.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}
.cal{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    padding: 5px;
    box-shadow: 2px 2px 20px #919191;
}
#c{
    float: right;
    margin-right: 30px;
    font-weight: bolder;
    color: white;
}
h2{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.text{
    text-align: left;
    margin-left: 100px;
    color: #fff;
}
#weight, #height{
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid #fff;
    width: 300px;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
}
#result{
    color: #fff;
}
#btn{
    font-size: inherit;
    margin-top: 10px;
    border: none;
    color: black;
    background-color: #1da1f2;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
}
#btn:hover{
    box-shadow: 1px 1px 10px rgb(0, 166, 255);
}
#info{
    color:#fff
}